body {
  background-color: #85a385;
}

.divDailyNutrients {
  font-size: 20px;
}

.homepage {
  text-align: center;
  padding: 50px;
}

.homepage-header {
  background-color: #335a3c;
  padding: 20px;
}

.homepage-header h1 {
  color: aliceblue;
}

.homepage-content {
  margin-top: 20px;
  font-size: 20px;
}

.homepage-links {
  margin-top: 20px;
}

.homepage-links button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.dashboard {
  text-align: center;
  padding: 50px;
}

.dashboard-header {
  background-color: #335a3c;
  padding: 20px;
}
.dashboard-header h1 {
  color: aliceblue;
}

.dashboard-content {
  margin-top: 20px;
  font-size: 20px;
}

.dashboard-links {
  margin-top: 20px;
}

.dashboard-links button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

header {
  background-color: #335a3c;
  text-align: center;
  padding: 3px 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: aliceblue;
  font-size: 30px;
  margin: 5px;
}

button {
  color: aliceblue;
  background-color: #335a3c;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #2f7d42;
  transform: scale(1.05);
}

button:focus {
  outline: none;
}

h2 {
  color: #0d0d0d;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

label {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #000000;
}

input[type="text"] {
  padding: 8px;
  margin: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 300px;
}

input[type="text"]:focus {
  border-color: #61dafb;
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  background: #679470;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  color: #000000;
}
.suggestions-list {
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto;
  padding: 0;
  margin-top: 5px;
  list-style-type: none;
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}
